.header{
  text-align: right;
  margin: 10px;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header li{
  display:inline;
  padding: 0 10px 0 10px;
}

body li button{
  background-color: blue;
  color:white;
  padding:5px;
  cursor: pointer;
}

h1{
  font-size: 70px;
}

.search{
  margin-top:200px;
  width:600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input{
  padding: 10px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         2px 5px 1px 1px #ccc;
}

/*footer{
  background-color: #ebebe0;
  bottom: 0px;
  height: 100px;
  width: 100%;
  border: 1px solid red;
  padding-top: 20px;
}*/

/*span{
  width: 99%;
  position: absolute;
  border: 1px solid purple;
  bottom: 70px;
  padding-left: 40px;
}*/

.levi li{
  display:inline;
  padding: 0 10px 0 0;
}

.levi{
  width: 50%;
  background-color: #ebebe0;
  border: 1 px solid purple;
  position: absolute;
  left: 10px;
  bottom: 0px;
}

.desni li{
  display:inline;
  padding: 0 10px 0 0;
}

.desni{
  width: 50%;
  background-color: #ebebe0;
  position: absolute;
  text-align: right;
  right: 10px;
  bottom: 0px;
}
/*footer postavi v absolute stanje, linke pa daj na levo in desno stran z relative*/
